.example-form-field {
  width: 100%;
  font-size: 35px;
  margin: 0 auto;
}
mat-card{
  width: 60%;
  margin: 30px auto;
  padding: 60px;
  mat-card-actions{
    display: flex;
    justify-content: flex-end;
    button{
      font-size: 20px;
      padding: 15px;
      margin-left: 20px;
    }
  }
}
