<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Weather app</span>
    <span class="example-spacer"></span>
    <button mat-stroked-button [matMenuTriggerFor]="menu">Weather maps</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)='goToLink("clouds")'>Clouds</button>
      <button mat-menu-item (click)='goToLink("precipitation")'>Precipitation</button>
      <button mat-menu-item (click)='goToLink("pressure")'>Sea level pressure</button>
      <button mat-menu-item (click)='goToLink("windspeed")'>Wind speed</button>
      <button mat-menu-item (click)='goToLink("temperature")'>Temperature</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
